// Stretching the content to fill the full height of the window.
html, body, #app, .main, .sidebar {
  height: 100%;
}

// Moving body content below the fixed navbar.
body {
  padding-top: 50px;
}

// Shaping the navbar to be a solid block
.navbar {
  border: 0 !important;
  margin: 0 !important;

  .dropdown-menu {
    border-radius: 0;
    border: 0;
  }
}

// Modifying the standard sidebar to display better
.sidebar {
  padding: 0 !important;
  background-color: #333;
  overflow: scroll;

  .nav-pills {
    .nav-item {
      width: 100%;
      margin: 0 !important;

      .nav-link {
        border-radius: 0;
        color: #f0f0f0;
      }

      i {
        width: 36px;
        text-align: center;
        padding-right: 15px;
      }
    }

    a:hover {
      background-color: #6e6e6e;
    }

    //li {
    //  background-color: #761c19 !important; // find a way to change the color when active.
    //}
  }
}

// Padding the content away from the nav and sidebar
.main {
  padding: 15px;
  overflow: scroll;
  background-color: #bbb;

  .section {
    padding: 10px 0 10px 0;
  }

  .panel-title {

    font-size: 1.6em;
    padding: 10px 10px 5px 10px;

    i {
      padding-right: 10px;
    }
  }

  .form-group {
    label {
      font-size: 1.4em;
      font-weight: normal;
    }
  }

  .input-group-addon {
    i {
      width: 20px;
      text-align: center;
    }
  }
}