// Stretching the content to fill the full height of the window.
html, body, #app, .main, .sidebar {
  height: 100%;
}

// Moving body content below the fixed navbar.
body {
  padding-top: 50px;
}

// Shaping the navbar to be a solid block
.navbar {
  border: 0 !important;
  margin: 0 !important;

  .dropdown-menu {
    border-radius: 0;
    border: 0;
  }
}

// Modifying the standard sidebar to display better
.sidebar {
  padding: 0 !important;
  background-color: #353545;
  overflow-y: scroll;

  .nav-pills {
    .nav-item {
      width: 100%;
      background-color: #334;
      margin: 0 !important;

      .nav-link {
        border-radius: 0;
        padding: 10px 15px 10px 15px;
        color: #f0f0f0;
      }

      i {
        width: 36px;
        text-align: center;
        padding-right: 15px;
      }
    }

    .nav-sub-item {
      width: 100%;
      background-color: #223;
      margin: 0 !important;

      .nav-link {
        border-radius: 0;
        padding: 5px 25px 5px 25px;
        color: #f0f0f0;
      }

      i {
        width: 36px;
        text-align: center;
        padding-right: 15px;
      }
    }

    a:hover {
      background-color: #6e6e7e;
    }
  }
}

// Padding the content away from the nav and sidebar
.main {
  overflow-y: scroll;
  background-color: #ccc;

  .main-content {
    padding: 15px;
  }

  .section {
    padding: 10px 0 10px 0;
  }

  .panel-title {
    font-size: 1.6em;
    padding: 10px 10px 5px 10px;

    i {
      padding-right: 10px;
    }
  }

  .form-group {
    label {
      font-size: 1.4em;
      font-weight: normal;
    }
  }

  .input-group-addon {
    i {
      width: 20px;
      text-align: center;
    }
  }
}

.breadcrumb-bar {
  .breadcrumb {
    border-radius: 0;
    margin: 0;
  }
}

.filter-bar {
  hr {
    margin: 10px 0;
  }
}